<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="XYZBANKSuite">
	
	<listeners>
		<listener class-name="ExtentReports.ExtentTestNGIReporterListener"></listener>
	</listeners>
	 
  <test thread-count="5" name="XYZBANKTest">
	  
    <classes>
    <!--  <class name="Runner.test_user_oprations"/>
      <class name="Runner.test_launch_page"/>
      <class name="Runner.test_user_logoutOprations"/>  --> 
      <class name="Runner.test_Bank_manager_oprations"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
